.cards {
  padding: 135px 100px 255px;

  &__title {
    color: var(--color-white);
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 55px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, minmax(250px, 1fr));
    gap: 30px;
    margin-bottom: 60px;
  }

  &__list-item {
    list-style: none;
  }

  &__load-more {
    margin: 0 auto;
  }
}

.card {
  display: grid;

  &__cover {
    width: 100%;
    height: 185px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      min-height: 100%;
      object-position: center center;
    }
  }

  &__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 435px;
    padding: 25px 25px 30px;
    background-color: var(--color-white);
  }

  &__title {
    margin-bottom: 20px;
    font-family: Mulish, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--color-black);
  }

  &__lead {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--color-black);
  }

  &__preview {
    margin-top: 0;
    margin-bottom: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-gray);

    // хак для работы свойства line-clamp
    display: -webkit-box; // stylelint-disable property-no-vendor-prefix
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical; // stylelint-disable property-no-vendor-prefix
    overflow-y: hidden;
  }

  &__info {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-gray);
  }

  &__author {
    font-weight: 700;
  }

  &__continue {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px 32px;
    font-family: Mulish, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-black);
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--color-gray);
    }
  }
}

@media (max-width: 1600px) {
  .cards__list {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
}

@media (max-width: 1370px) {
  .cards__list {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media (max-width: $min-width-tablet) {
  .cards {
    padding: 45px 40px 155px;

    &__title {
      margin-bottom: 40px;
    }

    &__list {
      grid-template-columns: repeat(2, minmax(250px, 1fr));
      gap: 25px 20px;
    }
  }

  .card {
    &__preview {
      -webkit-line-clamp: 5;
    }
  }
}

@media (max-width: $max-width-mobile) {
  .cards {
    padding: 48px 16px 43px;

    &__title {
      font-size: 20px;
      margin-bottom: 30px;
    }

    &__list {
      grid-template-columns: 1fr;
      gap: 20px;
      margin-bottom: 38px;
    }
  }

  .card {
    &__preview {
      -webkit-line-clamp: 6;
    }
  }
}
