:root {
  --color-white: #fff;
  --color-black: #171717;
  --color-darkgray: #131313;
  --color-gray: #666;
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

.page-body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: var(--color-darkgray);
}

.container {
  margin: 0 auto;
  width: 100%;
  min-width: $min-width-mobile;
  max-width: $max-width-desktop;
  box-sizing: border-box;
}

// TODO: добавить ховер
.skewed-filled-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px 20px 30px;
  min-width: 293px;
  border: none;
  color: var(--color-white);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  box-sizing: border-box;
  background: none;
  cursor: pointer;

  &__icon {
    position: absolute;
    height: 100%;
    z-index: -1;

    &--big {
      left: 0;
      width: 282px;
    }

    &--small {
      right: 0;
      width: 24px;
    }
  }
}

@media (max-width: $min-width-tablet) {
  .skewed-filled-button {
    width: clamp(200px, 100%, 293px);
    min-width: auto;

    &__icon {
      &--big {
        width: clamp(200px, 100%, 282px);
      }
    }
  }
}

@media (max-width: $max-width-mobile) {
  .skewed-filled-button {
    padding: 14px 30px 14px 20px;
    width: auto;
    min-width: 228px;

    &__icon {
      &--big {
        width: 220px;
      }

      &--small {
        width: 19px;
      }
    }

    &--fullwidth {
      width: 100%;

      &__icon {
        &--big {
          width: 100%;
        }

        &--small {
          display: none;
        }
      }
    }
  }
}